body{
    font-family: Arial, sans-serif;
    margin:0;
    background-color:#e8f5e9;
}

/* Navigation Bar */
nav{
    background-color:#2e7d32;
    text-align:center;
    padding:12px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-size:18px;
}

nav a:hover{
    color:yellow;
}

/* Header */
header{
    background-color:#388e3c;
    color:white;
    text-align:center;
    padding:30px;
}

/* Layout Container */
.container{
    width:80%;
    margin:auto;
    background:white;
    padding:20px;
    border:2px solid #66bb6a;
}

/* Image Styling */
img{
    display:block;
    margin:auto;
    border:5px solid #2e7d32;
    border-radius:10px;
}

/* Sections */
section{
    margin-top:20px;
}

h2{
    color:#2e7d32;
    border-bottom:2px solid #2e7d32;
}

/* Footer */
footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:20px;
}